<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitwin.mapper.notice_boardMapper">

	<select id="getList"
		resultType="com.bitwin.domain.notice_boardVO">
	
	<![CDATA[ 
	select * from project.notice_board where nidx > 0
	]]>

	</select>

	<insert id="insert">
		insert into project.notice_board (title, content,
		regdate, updatedate)
		values (#{title}, #{content}, current_timestamp,
		current_timestamp)
	</insert>


	<insert id="insertSelectKey">
		<selectKey keyProperty="nidx" order="BEFORE"
			resultType="long">
			select seq_project.notice_board.nextval from dual
		</selectKey>

		insert into project.notice_board (nidx,title,content)
		values
		(#{nidx}, #{title}, #{content})
	</insert>


	<select id="read"
		resultType="com.bitwin.domain.notice_boardVO">
		select * from project.notice_board where nidx = #{nidx}
	</select>

	<delete id="delete">
		delete from project.notice_board where nidx = #{nidx}
	</delete>

	<update id="update">
		update project.notice_board
		set title = #{title},
		content = #{content},
		updateDate = current_timestamp
		where nidx = #{nidx}
	</update>


	<select id="getListWithPaging"
		resultType="com.bitwin.domain.notice_boardVO">
	
		<![CDATA[
			select nidx, title, content, regdate, updatedate from (
				select /*+ INDEX_DESC(project.notice_board pk_project.notice_board) */ rownum rn, nidx, title, content, regdate, updatedate from project.notice_board where rownum <= #{pageNum} * #{amount}
			
			) where rn > (#{pageNum} -1) * #{amount}
		
		]]>

	</select>



	







</mapper>